<div class="logInForm">
<br><br><br>
<img src ="https://cloud.githubusercontent.com/assets/8575252/8626957/9e7b3e52-2715-11e5-9e72-fd123bb90556.png" width="380px" height="120px" class="displayed">
<h2 class="coolText">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters min)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up", :class => 'btn' %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>