
<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>
 
  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>
          <div class="row">
            <div class="col-xs-2 col-md-1"><%= current_user.email %></div>
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-6 col-md-7"><%= message.body %></div>
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-2 col-md-1"><%= message.created_at.strftime("%H:%M") %></div>
          </div>
        <br>
      <% end %>
    </div>
  </div>
</div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send Message", class: 'btn btn-primary' %>
<% end %>
