<!DOCTYPE html>
<html>
<head>
  <title>Covert Convo</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="app/assets/javascripts/bootstrap.js">
  <link rel="stylesheet" type="text/css" href="app/assets/javascripts/bootstrap.min.js">
  
  <script>
    var accept_friend=function(){
      $.ajax({
        type:'GET',
        url:'/users_accept_friend_path',
        data: { selectingCommand : document.getElementById("CommandSelect"); 
              },
        success:function(){
          //I assume you want to do something on controller action execution success?
          $(this).innerHTML("");
        }
      });
    }
    
    <% if user_signed_in? %>
      <% current_user.potential_friends.each do |user| %>
        $(document).on("click","#friend<%= user.id %>", accept_friend);
      <% end %>
    <% end %>
    
    var request_friend=function(){
      $.ajax({
        type:'GET',
        url:'/users_request_friend_path',
        data: { selectingCommand : document.getElementById("CommandSelect"); 
              },
        success:function(){
          //I assume you want to do something on controller action execution success?
          $(this).innerHTML("Sent");
        }
      });
    }
    
    $(document).on("click","#matched_user", request_friend);
  </script>
</head>
<body>


  <% if user_signed_in? %>
    <div>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "CovertConvo", pages_convos_path, :class => 'navbar-brand'  %>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="#">Convos</a></li>
          <li><a href="contacts.html.erb">Contacts</a></li>
          <li class="active"><%=link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
          <li><% link_to "Home", pages_convos_path, :class => 'navbar-link'  %> </li>-->
          
          
          <li class="<%= 'active' if current_page?(pages_convos_path)%>"><%= link_to "Home", pages_convos_path, :class => 'navbar-link'  %> </li>
          <li class="<%= 'active' if current_page?(conversations_path)%>"><%= link_to "Contacts", conversations_path, :class => 'navbar-link'  %> </li>
          <li class="<%= 'active' if current_page?(pages_notifications_path)%>"><%= link_to "Notifications", pages_notifications_path, :class => 'navbar-link'  %> </li>
          <li class="<%= 'active' if current_page?(edit_user_path(current_user))%>"><%= link_to 'Profile', edit_user_path(current_user), :class => 'navbar-link' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= 'active' if current_page?(edit_user_registration_path)%>"><%= link_to "#{current_user.username}", edit_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
  <div class="content">
    <!--Logged in as <strong><% current_user.email %></strong>.-->
  </div>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>

<%= yield %>

</body>
</html>
